
::-webkit-scrollbar {
  display: none;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #333;
  z-index: -1;
}

.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}
.logo {
  width: 400px;
  float: left;
  border-radius: 1px;
  padding: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  position: relative; top: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
  
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.fa-solid fa-user {
    position: static;
    border: 3px solid #73AD21;
}

.BackgroundAbandoned {
  width:100%;
  float: left;
  height:auto;
  z-index: 1;
}
.BottomBlackImage {
  width: 100%;
}







/* Before thing*/


.dropdown-content {
    display: none;
    float: right;
    background-color: #333;
}

.dropdown-content a {
    transition: all 1s ease-in;
    color: black;
    float: right;
    width: auto;
}
  .dropdown-content a:hover {
    background-color: rgb(168, 168, 168);
  }

.dropdown:hover .dropdown-content {
    transition: all 1s ease-in;
    display: inline; 
    float: right;
    
}

.dropdown:hover .dropbtn {
    background-color: #000000;

}

/* Wave, to space*/

.Wave {
  position: relative;
  width:100%;
  height:auto;
  vertical-align: bottom;
}

.SecondWave {
  position: relative;
  width:100%;
  height:auto;
  vertical-align: bottom;
}
.FooterImage {
  position: relative;
  width:100%;
  height:auto;
  vertical-align: bottom;
}

.FooterImage2 {
  position: relative;
  width:100%;
  height:auto;
  vertical-align: bottom;
}

